In [4]:
# necessary imports here
import pandas as pd

In [ ]:
# loading data
data = pd.read_csv("C:/Users/Ethel Enam Nyamador/Desktop/WACCBIP/Data_Analysis-main/Assignment (2)/Assignment_2_dataset.csv")
data

In [ ]:
#shape of data
data.shape

In [50]:
# dropping id column
dd = data.drop(['id'], axis = 1)
dd

In [ ]:
# rename column names to make it more user-friendly
#column names = age, blood_pressure, specific_gravity, albumin, sugar, red_blood_cells, pus_cell, pus_cell_clumps, bacteria, blood_glucose_random, blood_urea, serum_creatinine, sodium, potassium, haemoglobin, packed_cell_volume, white_blood_cell_count, red_blood_cell_count, hypertension, diabetes_mellitus, coronary_artery_disease, appetite, peda_edema, aanemia, class]
dd.rename(columns = {'bp' : 'blood pressure'}, inplace = True), 
dd.rename(columns = {'sg' : 'specific gravity'}, inplace = True),
dd.rename(columns = {'al' : 'albumin'}, inplace = True),
dd.rename(columns = {'su' : 'sugar'}, inplace = True),
dd.rename(columns = {'rbc' : 'red blood cells'}, inplace = True),
dd.rename(columns = {'pc' : 'pus cell'}, inplace = True),
dd.rename(columns = {'pcc' : 'pus cell clumps'}, inplace = True),
dd.rename(columns = {'ba' : 'bacteria'}, inplace = True),
dd.rename(columns = {'bgr' : 'blood glucose random'}, inplace = True),
dd.rename(columns = {'bu' : 'blood urea'}, inplace = True),
dd.rename(columns = {'sc' : 'serum creatinine'}, inplace = True),
dd.rename(columns = {'sod' : 'sodium'}, inplace = True),
dd.rename(columns = {'pot' : 'potassium'}, inplace = True),
dd.rename(columns = {'hemo' : 'hemoglobin'}, inplace = True),
dd.rename(columns = {'pcv' : 'packed cell volume'}, inplace = True),
dd.rename(columns = {'wc' : 'white blood cell count'}, inplace = True),
dd.rename(columns = {'rc' : 'red blood cell count'}, inplace = True),
dd.rename(columns = {'htn' : 'hypertension'}, inplace = True),
dd.rename(columns = {'dm' : 'diabetes mellitus'}, inplace = True),
dd.rename(columns = {'cad' : 'coronary artery disease'}, inplace = True),
dd.rename(columns = {'appet' : 'appetite'}, inplace = True),
dd.rename(columns = {'pe' : 'pedal edema'}, inplace = True),
dd.rename(columns = {'ane' : 'anemia'}, inplace = True),
dd.rename(columns = {'classification' : 'class'}, inplace = True),

In [ ]:
dd

In [ ]:
#describe data
dd.describe()

In [ ]:
#data-info
dd.info()


Change all object type to numerical datatype

In [ ]:
# convert necessary columns with object type to numerical type
object_columns = dd.select_dtypes(include = ['object']) 
object_columns

In [46]:
for col in object_columns:
    dd[col] = pd.to_numeric(dd[col], errors='coerce')

In [ ]:
# Extract all numerical columns into num_cols
num_cols = dd.select_dtypes(include=['number']).columns
num_cols

In [ ]:
# Extract categorical columns as cat_cols
cat_cols = dd.select_dtypes(include=['object']).columns
cat_cols

<p style = "font-size : 20px; color : #34656d ; font-family : 'Comic Sans MS'; "><strong>There is some ambugity present in the columns we have to remove that.</strong></p>

In [ ]:
import pandas as pd
df = data.drop(['id'], axis = 1)
df

In [ ]:
df.rename(columns = {'bp' : 'blood pressure'}, inplace = True), 
df.rename(columns = {'sg' : 'specific gravity'}, inplace = True),
df.rename(columns = {'al' : 'albumin'}, inplace = True),
df.rename(columns = {'su' : 'sugar'}, inplace = True),
df.rename(columns = {'rbc' : 'red blood cells'}, inplace = True),
df.rename(columns = {'pc' : 'pus cell'}, inplace = True),
df.rename(columns = {'pcc' : 'pus cell clumps'}, inplace = True),
df.rename(columns = {'ba' : 'bacteria'}, inplace = True),
df.rename(columns = {'bgr' : 'blood glucose random'}, inplace = True),
df.rename(columns = {'bu' : 'blood urea'}, inplace = True),
df.rename(columns = {'sc' : 'serum creatinine'}, inplace = True),
df.rename(columns = {'sod' : 'sodium'}, inplace = True),
df.rename(columns = {'pot' : 'potassium'}, inplace = True),
df.rename(columns = {'hemo' : 'hemoglobin'}, inplace = True),
df.rename(columns = {'pcv' : 'packed cell volume'}, inplace = True),
df.rename(columns = {'wc' : 'white blood cell count'}, inplace = True),
df.rename(columns = {'rc' : 'red blood cell count'}, inplace = True),
df.rename(columns = {'htn' : 'hypertension'}, inplace = True),
df.rename(columns = {'dm' : 'diabetes mellitus'}, inplace = True),
df.rename(columns = {'cad' : 'coronary artery disease'}, inplace = True),
df.rename(columns = {'appet' : 'appetite'}, inplace = True),
df.rename(columns = {'pe' : 'pedal edema'}, inplace = True),
df.rename(columns = {'ane' : 'anemia'}, inplace = True),
df.rename(columns = {'classification' : 'class'}, inplace = True)

df

In [ ]:
# replace incorrect values
#1. in feature diabetes_mellitus, replace "\tno" to 'no' and "\tyes" to 'yes'
df['diabetes mellitus'] = df['diabetes mellitus'].replace({"\\tno": "no", "\\tyes": "yes"})

#2 in feature coronary_artery_disease, replace "\tno" to 'no'
df['coronary artery disease'] = df['coronary artery disease'].replace({"\\tno": "no"})

#3 in feature class, replace 'ckd\t' to 'ckd', 'notckd' to 'not ckd'
df['class'] = df['class'].replace({"ckd\\t": "ckd", "notckd": "not ckd"})

#note that ckd means chronic kidney disease
df

In [ ]:
# checking for null values in main data
import numpy as np
null_values = df.isnull()
null_values

#also sort values in ascending order
df['null_count'] = null_values.sum(axis=1)
df.sort_values(by='null_count', ascending=True, inplace=True)
df

In [ ]:
num_cols = df.select_dtypes(include=['number']).columns
num_cols

In [ ]:
cat_cols = df.select_dtypes(include=['object']).columns
cat_cols

In [ ]:
## checking for null values in numerical columns
num_cols.isnull()

In [ ]:
## checking for null values in categorical columns
cat_cols.isnull().sum()

In [31]:
# fill null values in numerical columns : use mean of each feature if where value count is less than or equal to 40 and median if value count is greater than 40
num_cols = df.select_dtypes(include=[np.number])
null_counts = df[num_cols.columns].isnull().sum()
                            
for column in num_cols.columns:
    count = null_counts[column]
    if count <= 40:
        df[column].fillna(df[column].mean(), inplace=True)
    else:
        df[column].fillna(df[column].median(), inplace=True)

In [ ]:
#check for null values in all numeric columns
num_cols.isnull()

In [38]:
#fill null values in categorical columns by using the mode of each column
#do this using functions
def fill_cat_nulls(df, cat_cols):
    for column in cat_cols:
        mode_value = df[column].mode().iloc[0]
        df[column].fillna(mode_value, inplace=True)
        
    return df

In [41]:
#convert all categorical values to numeric
for col in cat_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')